a:visited {
  color: purple !important;
}


.navbar-header h1 {
  margin: 5px 15px 15px 15px;
}


.navbar-header a:hover {
  text-decoration: none;
}

nav.navbar.navbar-default {
  background-color: white;
  border: none;
}


.upper h2 {
  float: right;
  margin: 75px 50px 0 50px;
  color: black;
}

.button {
  display: inline-block;
  float: right;
  border: 3px solid #111111;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  margin: 100px 100px 100px 100px;
  height: 275px;
  width: 275px;
  line-height:200px;
  font-family: Arial, sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  background-color: #111111;
  transition: all 0.3s ease 0s;

}



.center {
  display: inline-block;
  width: 100%;
  height:480px;
  background-size:cover;
  background-position:center;

}



.center h2 {
  text-align: center;
  padding: 25px;
}



.apps {
 display: inline-block;
 text-align: center;
 font-size: 16px;
 color: #46494C;
 height: 340px;
 width: 1000px;
 margin: 0 250px 0 250px;

}

.apps .P1 {
  display: inline-block;
  float: left;
  width: 231px;
  height: 355px;
  padding: 0 40px 15px 40px;

}

.row-centered {
  display:inline-block;
  float:none;
  text-align:center;
}
.col-centered {
  display:inline-block;
  float:none;
  text-align:center;
  /* inline-block space fix */
  margin-right:-4px;
}


.lower {
  background-color: rgba(45, 210, 232, 0.7);
  // background-color: rgba(227, 127, 9, 0.8);
  width: 100%;
  height:480px;
}

.lower h2 {
  font-size: 42px;
  text-align: left;
  padding: 20px 0 0 300px;

}

.lower p {
  text-align: left;
  font-size: 20px;
  padding: 0 300px 20px 300px;
}

.lower .fortune {
  display: inline-block;
  padding: 50px 10px 0 300px;
  font-style: italic;
}

.lower .fortunes {
  display: inline-block;
  font-style: italic;
}


.left {
  display: inline-block;
  width: 400px;
  height: 1037px;
  margin: 20px 0 0 100px;
}

.left .image {
  display: inline-block;
  width: 400px;
  height: 350px;
  float: left;
}

.left .small {
  display: inline-block;
  width: 430px;
  height: 340px;
  float: left;
  background-color: #C5C3C6;
  margin-top:390px;
}

.small p{
  font-size: 15px;
  padding: 0px 0px 0 20px;
  color: #46494C;
}

.small .fortune {
  font-size: 30px;
  padding: 10px;
  margin: 40px;
  color: #4C5C68;
  font-family: 'Poiret One', cursive;
  font-weight: bolder;
  border: 4px dotted #4C5C68;
}

.small .bold {
  font-weight: bolder;
}

.boxes {
  width: 700px;
  height: 100px;
  margin: 10px 0 10px 0;
  display: inline-block;
  float: right;
}


.box .info1 {
  text-align: left;
  width: 600px;
  height: 220px;
  padding: 0 90px 90px 90px;
  font-family: 'Cantarell', sans-serif;
  /*font-family: "Open Sans", sans-serif;*/
}

.box .info1 .a {
  font-weight: 700;
  text-decoration: none;
  color: #46494C;
}

 .text_above .box{
   color: #46494C;
   font-size: 16px;
   background-color: #C5C3C6;
   text-align: left;
   height: 340px;
   width: 800px;
   margin: 0 10px 0 10px;
   float: right;

}


.text_above .box h2 {
  font-family: 'Cantarell', sans-serif;
  padding: 10px 15px 0 85px;
  font-weight: bold;
  font-size: 40px;
  /*font-family: "Open Sans", sans-serif;*/
  margin: 0;
}

.text_below .box {
  background-color: #C5C3C6;
  color: #46494C;
  float: right;
  text-align: left;
  height: 350px;
  width: 800px;
  margin: 0 10px 0 10px;
}


.me p{
  max-width: 450px;
  margin: 0 auto;
}


.posts h2 {
  margin: 15px 0 0 0;
  font-weight: bolder;
}
.posts .post1 {
  padding: 40px;
  text-align: justify;
}

.projects h2 {
  text-align: center;
}

.projects h3 {
  text-align: left;
}

.projects p {
  text-align: left;
}


.skills h2 {
  text-align: center;
}

.skills p {
  width: 425px;
  font-size: 20px;
  margin: 0 auto;
}

.skills li {
  display: inline-block;
  list-style: none;
  margin: 40px;
  width: 200px;
  padding: 0;
  /*font-size: 20px;
  margin: 0 auto;
  text-align: left;*/
}


.me h2 {
  text-align: center;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}
/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 48px;
  line-height: 300px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

section.module.parallax h2 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

section.module.parallax h3 {
  display: block;
  color: rgba(255, 255, 255, 0.8);
  font-size: 30px;
  line-height: 50px;
  font-weight: 700;
  text-align: center;
  /*text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);*/
}

.work a {
  color: rgba(255, 255, 255, 0.8);
}


section.module.parallax-1 li {
  display: inline-block;
  margin: 0 4px 0 4px;
}




section.module.parallax-1 {
  background-image: url("/static/images/jellyfish.jpeg");
}
section.module.parallax-2 {
  background-image: url("/static/images/butterflies.jpg");
}
section.module.parallax-3 {
  background-image: url("/static/images/weeds.jpg");
}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 96px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 160px;
  }
}


/*---------------------contact page ------------------*/


.box1 {
  margin: 100px 0 0 0;
  display: inline-block;
}

.box1 h2 {
  margin: 30px 0 40px 30px;

}


/*.box2 a:hover {
  text-decoration: none;
}*/

.red {
  border-radius: 50%;
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: red;
  transition: background-color 500ms linear;
  margin: 0;
  padding: 0;
}

.orange {
  border-radius: 50%;
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: orange;
  margin: 0;
  padding: 0;
}

.yellow {
  border-radius: 50%;
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: yellow;
  margin: 0;
  padding: 0;
}

.green {
  border-radius: 50%;
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: green;
  margin: 0;
  padding: 0;
}

.blue {
  border-radius: 50%;
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: blue;
  margin: 0;
  padding: 0;
}

.indigo {
  border-radius: 50%;
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: indigo;
  margin: 0;
  padding: 0;
}

.violet {
  border-radius: 50%;
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: violet;
  margin: 0;
  padding: 0;
}


.change-color {
  background-color: green;
  transition: background-color 500ms linear;
}

.change-color-orange {
  background-color: green;
  transition: background-color 500ms linear;
}

/*.blink {
  text-align: center;
}*/



/*.change-color {
  background-color: green;
  transition: background-color 2000ms linear;
}*/


/*------------------resume----------------*/




  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 96px;
  }
}
@media (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 160px;
  }
}*/

.resume .box {
  color: #46494C;
  font-size: 16px;
  background-color: rgba(249, 239, 245, 0.3);
  text-align: left;
  height: auto;


}

.resume h2 {
  margin: 0 0 0 130px;
  padding-top: 45px;
}

.resume .box .deets {
  padding: 30px;

  text-align: justify;

}
