<!DOCTYPE html>
<html>
<head>
  <title>Karen Hambro</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='bootstrap.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='hover-min.css') }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script type="text/javascript" src= "{{ url_for('static',filename='bootstrap.js') }}"></script>
  <link rel="icon" type="image/png" href="/favicon.png"/>

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-72449435-1', 'auto');
  ga('send', 'pageview');
</script>
</head>
<body>


  <nav class="navbar navbar-default">
    <div class="navbar-header">
      <h1><a href="/" class="hvr-float-shadow">Karen Hambro</a></h1>
      <button class ="navbar-toggle collapsed" data-toggle="collapse" data-target=".menu-wrapper">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="menu-wrapper collapse navbar-collapse">
      <div class="navbar-menu navbar-right">
        <ul class="nav navbar-nav">
          <li><a href="/resume" class="hvr-float-shadow">Resume</a></li>
          <li><a href="/contact" class="hvr-float-shadow">Contact</a></li>
          <li><a href= "mailto:khambro@gmail.com" class="hvr-float-shadow" ><i class="fa fa-envelope-square fa-lg"></i></a></li>
          <li><a href= "https://www.linkedin.com/pub/karen-hambro/a/94b/349" class="hvr-float-shadow" ><i class="fa fa-linkedin fa-lg"></i></a></li>
          <li><a href= "https://twitter.com/khambro?lang=en" class="hvr-float-shadow" ><i class="fa fa-twitter fa-lg"></i></a></li>
          <li><a href= "https://github.com/khambro"class="hvr-float-shadow" ><i class="fa fa-github fa-lg"></i></a></li>
        </ul>
      </div>
    </div>
  </nav>


  <section class="module parallax parallax-1">
    <div class="container">
      <h1>Hello!</h1>
      <h2>I'm a full stack ruby developer.</h2>
      <h3>
        <ul class="work">
          <li><a href= "mailto:khambro@gmail.com" class="hvr-float-shadow" ><i class="fa fa-envelope-square fa-lg"></i></a></li>
          <li><a href= "https://www.linkedin.com/pub/karen-hambro/a/94b/349" class="hvr-float-shadow" ><i class="fa fa-linkedin fa-lg"></i></a></li>
          <li><a href= "https://twitter.com/khambro?lang=en" class="hvr-float-shadow" ><i class="fa fa-twitter fa-lg"></i></a></li>
          <li><a href= "https://github.com/khambro"class="hvr-float-shadow" ><i class="fa fa-github fa-lg"></i></a></li>
        </ul>
      </h3>
    </div>

  </section>

  <section class="module content">
    <div class="container me">
        <h2>me</h2>
        <p>I'm Karen Hambro, a software developer in training at <a href="http://code.builders/">Code Builders</a>. I have worked in the tech industry for quite a few years, most recently with <a href='http://adadevelopersacademy.org/'>Ada Developers Academy</a>. Having worked to place over 60 women in software development roles in local tech companies, it's now my turn to build, create, and start down the path of my own adventures in programming.</p>
        <p>I spend my free time hanging out with my dogs, hanging out with other people's dogs, kayaking, brewing beer, taking photos, relaxing with friends and family, and dancing whenever possible.</p>
    </div>
  </section>

  <section class="module parallax parallax-2">
    <div class="container">
      <h1>Create</h1>
    </div>
  </section>

  <section class="module content">
    <div class="container projects">
        <h2>my projects</h2>
        <div class="col-xs-6 col-sm-4 col-centered"><h3><a href="http://pollerbear.club/">{{ project }}</a></h3><p>PollerBear is a polling app that allows you to vote in polls, as well as create your own for others to vote in. Image upload permitted for multiple choice polls.</p></div>
        <div class="col-xs-6 col-sm-4 col-centered"><h3>{{ project2 }}</h3><p>Yappy Trails, a dog vacationing app, allows you to plan vacations with your pooch where she's not only welcome to join, but encouraged!</p></div>
        <div class="clearfix visible-xs"></div>
        <div class="col-xs-6 col-sm-4 col-centered"><h3>{{ project3 }}</h3><p>Babe, Get Me a Cookie allows you to send messages to your partner informing them to bring you a cookie without you even having to speak. They'll even be electronically thanked upon cookie delivery.</p></div>
    </div>
  </section>

  <section class="module parallax parallax-3">
    <div class="container">
      <h1>Learn</h1>
    </div>
  </section>

  <section class="module content">
    <div class="container skills">
      <h2>technical skills</h2>
      <ul>
        <li><img src= "/static/images/html5.png"></li>
        <li><img src= "/static/images/css3.png"></li>
        <li><img src= "/static/images/ror.png"></li>
        <li><img src= "/static/images/js.png"></li>
        <li><img src= "/static/images/jquery.png"></li>
        <li><span class="postgresql"><img src= "/static/images/postgres.jpg"></span></li>
      </ul>

    </div>
    </div>
  </section>




  </body>



</html>
